.btn {
  width: 183px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  background: $mainColor;
  transition: 0.2s;

  &_black {
    border: 1px solid $mainColor;
    color: $mainColor;
    background: #000;

    &:hover {
      color: #fff;
      background: $mainColor;
    }
  }

  &:hover {
    background: $mainColorHover;
  }

  &:active {
    background: $mainColorActive;
  }
}
