.header {
  position: fixed;
  z-index: 10;
  padding: 30px 0;
  width: 100%;
  background: #000;
  transform: translateY(0);
  transition: 0.2s;

  &_active {
    transform: translateY(-100%);
  }

  &__container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 166px 267px 226px 205px;

    @include tablet {
      grid-template-columns: 1fr 120px 50px;
      gap: 30px;
    }

    @include mobile {
      align-self: center;
      gap: 15px 30px;
    }
  }

  &__logo {
    grid-row: 1 / 3;
  }

  &__conactions {
    display: flex;
    justify-content: end;
    grid-column: 3 / 5;

    @include tablet {
      align-self: center;
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }

    @include small-tablet {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }
  }

  &__btn {
    margin-left: 42px;

    @include tablet {
      margin-left: 0;
    }

    @include small-tablet {
      width: 100%;
    }
  }

  &__item-wrap {
    display: flex;
    align-items: center;

    @include tablet {
      display: none;
    }
  }

  &__item-svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: 0.2s;
  }

  &__item-txt {
    font-size: 14px;
    line-height: 14px;
  }

  &__phone {
    transition: 0.2s;

    &:hover {
      color: $mainColorHover;

      .header__phone-svg {
        fill: $mainColorHover;
      }
    }

    &:active {
      color: $mainColorActive;

      .header__phone-svg {
        fill: $mainColorActive;
      }
    }

    @include tablet {
      display: none;
    }
  }

  &__phone-txt {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
  }

  &__instagram {
    transition: 0.2s;

    &:hover {
      color: $mainColorHover;

      .header__instagram-svg {
        fill: $mainColorHover;
      }
    }

    &:active {
      color: $mainColorActive;

      .header__instagram-svg {
        fill: $mainColorActive;
      }
    }
  }

  @include mobile {
    padding: 15px 0;
  }
}

.nav {
  align-self: end;
  grid-column: 3 / 5;

  &__list {
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    transition: 0.2s;

    &:hover {
      color: $mainColorHover;
    }

    &:active {
      color: $mainColorActive;
    }
  }

  @include tablet {
    display: none;
  }
}

.contacts-mobile {
  display: none;
  align-self: center;
  justify-content: space-between;
  justify-self: end;
  grid-row: 1 / 3;
  width: 100px;

  &__link {
    transition: 0.2s;

    &:hover {
      .contacts-mobile__svg {
        fill: $mainColor;
      }
    }

    &:active {
      .contacts-mobile__svg {
        fill: $mainColorActive;
      }
    }
  }

  &__svg {
    width: 18px;
    height: 18px;
    fill: #fff;
    transition: 0.2s;

    @include mobile {
      width: 14px;
      height: 14px;
    }
  }

  @include mobile {
    margin-top: 6px;
  }

  @include tablet {
    display: flex;
  }
}

.burger {
  --burger-color: #fff;

  @include burger;

  z-index: 12;
  display: none;
  align-self: center;
  justify-self: end;
  grid-row: 1 / 3;

  @include tablet {
    display: block;
  }
}

.nav-mobile {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  padding: 60px 15px;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: 0.4s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 40%;
    background: #1d1d1d;
    opacity: 0;
    transform: translate(0%, -101%);
    transition: 0.8s 0.4s;

    @include mobile {
      height: 60%;
    }
  }

  &_active {
    opacity: 1;
    visibility: visible;
    transform: translate(0%, 0%);

    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 1;
      transform: translate(0%, 0%);
    }

    .nav-mobile__list {
      opacity: 1;
      visibility: visible;
    }

    .nav-mobile__close {
      opacity: 1;
      visibility: visible;
    }
  }

  &__close {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 1s 0.8s;
  }

  &__list {
    position: relative;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 1s 0.8s;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 40px;
    }

    &:nth-last-child(2) {
      margin-top: 80px;
    }

    &:last-child {
      margin-top: 20px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__svg {
    width: 21px;
    height: 21px;
    fill: $mainColor;
  }

  @include mobile {
    width: 100%;
    height: 100vh;
    transition: 0.5s;
  }
}
