.hero {
  position: relative;
  padding-top: 290px;
  background: #030305;

  &__container-big {
    position: relative;
  }

  &-slider {
    position: relative;

    &__slide {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      @include small-tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
    }

    &__img {
      grid-row: 1 / 3;
    }

    &__title {
      align-self: end;
      margin: 0;
      max-width: 610px;
      font-weight: 900;
      font-size: 48px;
      line-height: 68px;
      text-transform: uppercase;

      @include big-desktop {
        font-size: 35px;
        line-height: 47px;
      }

      @include tablet {
        font-size: 22px;
        line-height: 30px;
      }

      @include mobile {
        margin-top: -30px;
      }
    }

    &__txt {
      margin-left: 50px;
      max-width: 445px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;

      @include big-desktop {
        margin-left: 25px;
        font-size: 16px;
        line-height: 24px;
      }

      @include small-tablet {
        margin-left: 0;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__img-decore {
    position: absolute;
    right: 0;
    top: 136px;
    z-index: 1;
    width: 585px;
    height: 704px;
    background: center / cover no-repeat url("./../img/hero__img-decore.png");

    @include small-tablet {
      width: 33%;
      height: 251px;
    }
  }

  @include small-tablet {
    padding-top: 136px;
  }
}

.swiper-pagination {
  bottom: -50px;
  display: none;

  @include big-desktop {
    display: block;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -50px;
}

.swiper-pagination-bullet {
  border: 1px solid #757575;
  border-radius: 0;
  width: 12px;
  height: 12px;
  transition: 0.2s;
  cursor: pointer;

  &-active {
    border-color: $mainColor;
    background: $mainColor;
  }
}

.btn-arrow {
  position: absolute;
  top: 200px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgb(255 255 255 / 10%);

  &__svg {
    margin-left: 2px;
    width: 8px;
    height: 14px;
    fill: #fff;
  }

  &_prev {
    left: 30px;
    transform: rotate(180deg);
  }

  &_next {
    right: 30px;
  }

  @include big-desktop {
    display: none;
  }
}

.designation {
  color: $mainColor;
}
